<h3>Power:</h3>

<h3><%= @power.name %></h3>
<p><%= @power.description %></p>
<p><%= link_to "Edit This Power", edit_power_path(@power) %></p>
<p><%= link_to "Delete This Power", power_path(@power), :data => {:confirm => "Are you sure?", :method => "delete"} %></p>