<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <div>
      <%= link_to heroine.super_name.titleize, heroine %>
    </div>
    <br>
  <% end %>
</ul>

<%= link_to 'New Heroine', new_heroine_path %>
